@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

*{
    font-family: 'Open Sans', sans-serif; 
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.transparent-back{
    background-color: rgba(229, 229, 229, 0.4);
}


#home{
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .container{
    max-height: 100vh;
}

#home .my-row img{
    width: 30px;
}

#home img{
    max-width: 350px;
    border-radius: 20px;
    
}


#about{
    background: linear-gradient(to left, #E5E5E5 50%, #a3d2ca 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
#about .my-about{
    width: 47vh;
    height: 100%;
    border-radius: 20px;
    background-color: #145374;
}
#about img{
    max-width: 600px;
    border-radius: 20px;
}

#resume{
    background: linear-gradient(to left, #A2D5F2 50%, #E5E5E5 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
#resume .edu{
    width: 50vh;
    height: 20vh;
    border-radius: 20px;
    background-color: #145374;
}

#contact{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#EE6F57;
}
#contact img{
    width: 35px;
    height: 35px;
}
.text-color-white{
    color: white;
}

#head{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
}
#gallery{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1200px) { 
    #about img{
        width: 500px;
        
    }
    #resume{
        height: 150vh;
    }
}
@media (max-width: 948px) { 
    #about{
        background: linear-gradient(to bottom, #a3d2ca 54%, #E5E5E5 46%);

    }
}

@media (max-width: 1023px) { 
    #resume{
        background: linear-gradient(to bottom,#A2D5F2  58%, #E5E5E5  42%);
        
    }
}